/*input[type="file"]{
	height: 63px;
	width: 87px;   
    position: fixed;
    left: 318.25px;
    top: -6.5px;

}
input[type="file"]::-moz-file-upload-button{
	height: 63px;
	width: 87px;
	--f7-tabbar-link-inactive-color: rgb(54, 23, 7);
}*/

*{
	--f7-tabbar-link-inactive-color: rgb(0, 0, 0);
	--f7-dialog-font-size: 13px;
	--f7-dialog-width: 339px;
}


